


/* .item {
    background-color: brown;
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.correct {
    background-color: green;
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}  */

/* .box {
    display: none;
    width: 100px;
    height: 100px;
    background-color: #ccc;
} */